<footer class="footer">
  <ul class="footer__list">
    <li class="footer__item">
      <p>&copy; {{ "now"|date("Y") }} dummy website gemaakt door <a href="https://www.linkedin.com/in/jumichorius/">Inju Michorius</a></p>
    </li>
    <li class="footer__item">
      <a href="/terms-of-service" class="footer__text">Terms of Service</a>
    </li>
    <li class="footer__item">
      <a href="/privacy-policy" class="footer__text">Privacy Policy</a>
    </li>
  </ul>
</footer>
